<div>
<br/>
<h4>Azure Topology </h4>
<br/>

<img src="https://gitlab.com/panw-gse/tech-library/deploy/topology-1-ngfw-2-hosts/-/blob/images/hello-world-topology.png" alt="Hello World Solution Topology">

</div>
