[submodule "submodules/topology-1-ngfw-2-hosts"]
	path = submodules/topology-1-ngfw-2-hosts
	url = git@github.com:pan-community/topology-1-ngfw-2-hosts.git
[submodule "submodules/panos-config-elements"]
	path = submodules/panos-config-elements
	url = git@github.com:pan-community/panos-config-elements.git
[submodule "submodules/ironskillet-components"]
	path = submodules/ironskillet-components
	url = git@github.com:PaloAltoNetworks/ironskillet-components.git
[submodule "submodules/panos-validation-snippets"]
	path = submodules/panos-validation-snippets
	url = git@github.com:pan-community/panos-validation-snippets.git
[submodule "submodules/panos-ansible-upgrade-downgrade"]
	path = submodules/panos-ansible-upgrade-downgrade
	url = git@github.com:PaloAltoNetworks/panos-ansible-upgrade-downgrade.git
[submodule "submodules/deployment-tools"]
	path = submodules/deployment-tools
	url = git@github.com:pan-community/deployment-tools.git
