ansible==2.10.5
ansible-base==2.10.4
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
decorator==4.4.2
docker==4.4.1
gitdb==4.0.5
GitPython==3.1.12
idna==2.10
Jinja2==2.11.2
jinja2-ansible-filters==1.3.0
jmespath==0.10.0
jsonpath-ng==1.5.2
lxml==4.6.2
MarkupSafe==1.1.1
oyaml==1.0
packaging==20.8
pan-os-python==1.0.2
pan-python==0.16.0
pandevice==0.14.0
passlib==1.7.4
pathlib==1.0.1
ply==3.11
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.3.1
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
skilletlib==0.6.8.1
smmap==3.0.4
urllib3==1.26.2
websocket-client==0.57.0
xmldiff==2.4
xmltodict==0.12.0
