<div>
<br/>
<h4>Azure Topology Elements</h4>
<br/>

<h5 style="display: inline;">Resource Group: </h5>{{ resource_group_name }}

<br/>
<br/>
<br/>

<h5>Public IP Addresses</h5>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Device</th>
            <th>IP Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>NGFW Management Interface</td>
            <td>{{ ngfw_ip_address["ip_address"] }}</td>
        </tr>

<br/>
<br/>

<h5>Sandbox Private IP Addresses</h5>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Device</th>
            <th>Interface</th>
            <th>IP Address</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>NGFW Internet Interface</td>
            <td>ethernet1/1</td>
            <td>{{ fw_untrust_ip ~ "/" ~ untrust_subnet_cidr.split('/')[1] }}</td>
        </tr>
    </tbody>
</table>

</div>